/.RData
/.Rhistory
/.Spotlight-V100
/.TemporaryItems
/.Trashes
/._2003.xlsx
/._2004.xlsx
/._3403698.csv
/._AK.csv
/._Boise.csv
/._Filter.ipynb
/._albuquerque0304.csv
/._albuquerque0506.csv
/._albuquerque0708.csv
/._albuquerque0910.csv
/._albuquerque1112.csv
/._albuquerque1314.csv
/._albuquerque1516.csv
/._atlanta0310.csv
/._atlanta1116.csv
/._baltimore0305.csv
/._baltimore0608.csv
/._baltimore0911.csv
/._baltimore1214.csv
/._baltimore1516.csv
/._billings.csv
/._birmingham.csv
/._boston0305.csv
/._boston0608.csv
/._boston0911.csv
/._boston1214.csv
/._boston1516.csv
/._bridgeport.csv
/._burlington.csv
/._charleston0308.csv
/._charleston0913.csv
/._charleston1416.csv
/._charlotte0306.csv
/._charlotte0710.csv
/._charlotte1113.csv
/._charlotte1416.csv
/._chelsa_earthenv-precip_rate_2003.csv
/._chelsadata.csv
/._chelsadata.numbers
/._cheyenne0310.csv
/._cheyenne1116.csv
/._chicago0304.csv
/._chicago0506.csv
/._chicago0708.csv
/._chicago0910.csv
/._chicago1112.csv
/._chicago1314.csv
/._chicago1516.csv
/._cincinnati0310.csv
/._cincinnati116.csv
/._combined_data.csv
/._dallas.csv
/._data.csv
/._denver2003.csv
/._denver2004.csv
/._denver2005.csv
/._denver2006.csv
/._denver2007.csv
/._denver2008.csv
/._denver2009.csv
/._denver2010.csv
/._denver2011.csv
/._denver2012.csv
/._denver2013.csv
/._denver2014.csv
/._denver2015.csv
/._denver2016.csv
/._des moines0310.csv
/._des moines1116.csv
/._detroit0306.csv
/._detroit0710.csv
/._detroit1113.csv
/._detroit1416.csv
/._dissertation.R
/._dover.csv
/._envidatS3paths.txt
/._fargo.csv
/._gsoy_sample_csv.csv
/._huntington.csv
/._indianapolis0305.csv
/._indianapolis0608.csv
/._indianapolis0911.csv
/._indianapolis1214.csv
/._indianapolis1516.csv
/._jackson.csv
/._las vegas.csv
/._littlerock.csv
/._losangeles0307.csv
/._losangeles0812.csv
/._losangeles1316.csv
/._louisville0310.csv
/._louisville1116.csv
/._miami0310.csv
/._miami1116.csv
/._milwaukee0306.csv
/._milwaukee0710.csv
/._milwaukee1113.csv
/._milwaukee1416.csv
/._minneapolis0305.csv
/._minneapolis1214.csv
/._minneapolis1516.csv
/._minnieapolis0608.csv
/._minnieapolis0911.csv
/._nashua0310.csv
/._nashua116.csv
/._nashville0305.csv
/._nashville0608.csv
/._nashville0911.csv
/._nashville1214.csv
/._nashville1516.csv
/._neworleans.csv
/._newyork0305.csv
/._newyork0608.csv
/._newyork0911.csv
/._newyork1214.csv
/._newyork1516.csv
/._observationdata.csv
/._observationdata.numbers
/._oklahoma city0306.csv
/._oklahoma city0710.csv
/._oklahoma city1114.csv
/._oklahoma city1516.csv
/._omaha0309.csv
/._omaha1016.csv
/._philadelphia0304.csv
/._philadelphia0506.csv
/._philadelphia0708.csv
/._philadelphia0910.csv
/._philadelphia1112.csv
/._philadelphia1314.csv
/._philadelphia1516.csv
/._phoenix0304.csv
/._phoenix0506.csv
/._phoenix0708.csv
/._phoenix0910.csv
/._phoenix1112.csv
/._phoenix1314.csv
/._phoenix1516.csv
/._portland ME.csv
/._portland OR0307.csv
/._portland OR0811.csv
/._portland OR1216.csv
/._providence0309.csv
/._providence1016.csv
/._saltlakecity0310.csv
/._saltlakecity1116.csv
/._seattle0304.csv
/._seattle0506.csv
/._seattle0708.csv
/._seattle0910.csv
/._seattle1112.csv
/._seattle1314.csv
/._seattle1516.csv
/._sioux falls.csv
/._st.louis0310.csv
/._st.louis1116.csv
/._trenton0310.csv
/._trenton1116.csv
/._virginiabeach.csv
/._wichita0310.csv
/._wichita1116.csv
/._~$2004.xlsx
/.fseventsd
/2003.xlsx
/2004.xlsx
/3403698.csv
/AK.csv
/Boise.csv
/Boise_PRCP.csv
/Filter.ipynb
/System Volume Information
/albuquerque0304.csv
/albuquerque0506.csv
/albuquerque0708.csv
/albuquerque0910.csv
/albuquerque1112.csv
/albuquerque1314.csv
/albuquerque1516.csv
/albuquerque_PRCP.csv
/atlanta0310.csv
/atlanta1116.csv
/atlanta_PRCP.csv
/baltimore0305.csv
/baltimore0608.csv
/baltimore0911.csv
/baltimore1214.csv
/baltimore1516.csv
/baltimore_PRCP.csv
/billings.csv
/billings_PRCP.csv
/birmingham.csv
/birmingham_PRCP.csv
/boston0305.csv
/boston0608.csv
/boston0911.csv
/boston1214.csv
/boston1516.csv
/boston_PRCP.csv
/bridgeport.csv
/bridgeport_PRCP.csv
/burlington.csv
/burlington_PRCP.csv
/charleston0308.csv
/charleston0913.csv
/charleston1416.csv
/charleston_PRCP.csv
/charlotte0306.csv
/charlotte0710.csv
/charlotte1113.csv
/charlotte1416.csv
/charlotte_PRCP.csv
/chelsa_earthenv-precip_rate_2003.csv
/chelsadata.csv
/chelsadata.numbers
/cheyenne0310.csv
/cheyenne1116.csv
/cheyenne_PRCP.csv
/chicago0304.csv
/chicago0506.csv
/chicago0708.csv
/chicago0910.csv
/chicago1112.csv
/chicago1314.csv
/chicago1516.csv
/chicago_PRCP.csv
/cincinnati0310.csv
/cincinnati116.csv
/cincinnati_PRCP.csv
/combined_data.csv
/dallas.csv
/dallas_PRCP.csv
/data.csv
/denver2003.csv
/denver2004.csv
/denver2005.csv
/denver2006.csv
/denver2007.csv
/denver2008.csv
/denver2009.csv
/denver2010.csv
/denver2011.csv
/denver2012.csv
/denver2013.csv
/denver2014.csv
/denver2015.csv
/denver2016.csv
/denver_PRCP.csv
/des moines0310.csv
/des moines1116.csv
/des moines_PRCP.csv
/detroit0306.csv
/detroit0710.csv
/detroit1113.csv
/detroit1416.csv
/detroit_PRCP.csv
/dissertation.R
/dover.csv
/dover_PRCP.csv
/envidatS3paths.txt
/fargo.csv
/fargo_PRCP.csv
/gsoy_sample_csv.csv
/huntington.csv
/huntington_PRCP.csv
/indianapolis0305.csv
/indianapolis0608.csv
/indianapolis0911.csv
/indianapolis1214.csv
/indianapolis1516.csv
/indianapolis_PRCP.csv
/jackson.csv
/jackson_PRCP.csv
/las vegas.csv
/las vegas_PRCP.csv
/littlerock.csv
/littlerock_PRCP.csv
/losangeles0307.csv
/losangeles0812.csv
/losangeles1316.csv
/losangeles_PRCP.csv
/louisville0310.csv
/louisville1116.csv
/louisville_PRCP.csv
/miami0310.csv
/miami1116.csv
/miami_PRCP.csv
/milwaukee0306.csv
/milwaukee0710.csv
/milwaukee1113.csv
/milwaukee1416.csv
/milwaukee_PRCP.csv
/minneapolis0305.csv
/minneapolis1214.csv
/minneapolis1516.csv
/minneapolis_PRCP.csv
/minnieapolis0608.csv
/minnieapolis0911.csv
/nashua0310.csv
/nashua116.csv
/nashua_PRCP.csv
/nashville0305.csv
/nashville0608.csv
/nashville0911.csv
/nashville1214.csv
/nashville1516.csv
/nashville_PRCP.csv
/neworleans.csv
/neworleans_PRCP.csv
/newyork0305.csv
/newyork0608.csv
/newyork0911.csv
/newyork1214.csv
/newyork1516.csv
/newyork_PRCP.csv
/observationdata.csv
/observationdata.numbers
/oklahoma city0306.csv
/oklahoma city0710.csv
/oklahoma city1114.csv
/oklahoma city1516.csv
/oklahoma city_PRCP.csv
/omaha0309.csv
/omaha1016.csv
/omaha_PRCP.csv
/philadelphia0304.csv
/philadelphia0506.csv
/philadelphia0708.csv
/philadelphia0910.csv
/philadelphia1112.csv
/philadelphia1314.csv
/philadelphia1516.csv
/philadelphia_PRCP.csv
/phoenix0304.csv
/phoenix0506.csv
/phoenix0708.csv
/phoenix0910.csv
/phoenix1112.csv
/phoenix1314.csv
/phoenix1516.csv
/phoenix_PRCP.csv
/portland ME.csv
/portland ME_PRCP.csv
/portland OR0307.csv
/portland OR0811.csv
/portland OR1216.csv
/portlandOR_PRCP.csv
/providence0309.csv
/providence1016.csv
/providence_PRCP.csv
/saltlakecity0310.csv
/saltlakecity1116.csv
/saltlakecity_PRCP.csv
/seattle0304.csv
/seattle0506.csv
/seattle0708.csv
/seattle0910.csv
/seattle1112.csv
/seattle1314.csv
/seattle1516.csv
/seattle_PRCP.csv
/sioux falls.csv
/sioux falls_PRCP.csv
/st.louis0310.csv
/st.louis1116.csv
/st.louis_PRCP.csv
/trenton0310.csv
/trenton1116.csv
/trenton_PRCP.csv
/virginiabeach.csv
/virginiabeach_PRCP.csv
/wichita0310.csv
/wichita1116.csv
/wichita_PRCP.csv
/~$2004.xlsx